<div class="paginator-container">
    <!-- <div class="row">
    </div> -->

        <button [ngClass]="{'inActive':currentPage==1}"  [disabled]="currentPage==1" (click)="onPageIndexChange(currentPage-1)">previous</button>
        <button class="pag-num" *ngFor="let page of pagesNums" (click)="onPageIndexChange(page)" [ngClass]="{'active':currentPage==page}">
            {{page}}
        </button>
        
        <button [ngClass]="{'inActive':currentPage==pagesNums.length}"  [disabled]="currentPage==pagesNums.length" (click)="onPageIndexChange(currentPage+1)">next</button>


 
</div>

<!-- <div class="paginator-container">

    <button [ngClass]="{'inActive':currentPage==1}" [disabled]="currentPage==1"
        (click)="onPageIndexChange(currentPage-1)"><a [routerLink]="['./']"
            [queryParams]="{page:currentPage-1}">previous</a></button>
            
    <button class="page-num" *ngFor="let page of pagesNums" (click)="onPageIndexChange(page)"
        [ngClass]="{'active':currentPage==page}">
        <a [routerLink]="['./']" [queryParams]="{page:page}">{{page}}</a>
    </button>

    <button [ngClass]="{'inActive':currentPage==pagesNums.length}" [disabled]="currentPage==pagesNums.length"
        (click)="onPageIndexChange(currentPage+1)">

        <a [routerLink]="['./']" [queryParams]="{page:currentPage}">next</a>

    </button>


</div> -->